/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Punch-In Project Plannerv css*/
html {
	background-color: #E4E8E8;
	color: #586465;
}
table {
	width: 100%;
}
tbody tr:hover, tbody tr:active {
    background-color: #D0D8D8;
}
.buttonlink1, .buttonlink2 {
	font-family: Open Sans, sans-serif;
	text-align: center;
	text-decoration: none;
	display: block;
}
.button1 {
	border-top: 1px solid #569D99;
    height: 50px;
}
.buttonlink1 {
	color: #F7F8F8;
	font-size: 14pt;
	line-height: 50px;
}
.button2 {
	height: 45px;
	width: 165px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.buttonlink2 {
    background-color: #E79D83;
    border-radius: 25px;
    color: #F7F8F8;
    font-size: 15pt;
    line-height: 45px;
}
.button3 {
	height: 25px;
	width: 25px;
}
.buttonlink3 {
	height: 24px;
	width: 24px;
	background-color: #F7F8F8;
	border-radius: 100%;
	line-height: 25px;
	padding: 5px;
	margin: 17px;
}
.button4 {
	height: 45px;
	width: 165px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.buttonlink4 {
    background-color: #E79D83;
    border-radius: 25px;
    color: #F7F8F8;
    font-size: 15pt;
    line-height: 45px;
}
.contentheading {
	font-size: 14pt;
	font-family: Open Sans, sans-serif;
}
.contentleft, .contentright {
	width: 48%;
	height: 100%;
	margin: 15px 0 -15px 15px;
	overflow: auto;
}
.contentleft {
	float: left;
	border-right: 1px #586465 solid;
}
.contentsplit {
	width: 1px;
	heigh: 100%;
	background-color: #586465;
}
.contentright {
	float: right;
}
.date {
	width: 50px;
	height: 65px;
	float: left;
	text-align: center;
	margin: 10px;
	display: block;
	font-size: 10pt;
}
.smcol, .medcol, .lgcol {
    height: 30px;
    font-size: 12pt;
    border: none;
    margin: 5px;
    color: #566465;
    font-family: Open Sans, sans-serif;
}
.smcol {
    width: 60px;
    text-align: right;
    padding-right: 5px;
}
.medcol {
	width: 95px;
    padding-left: 5px;
}
.lgcol {
    width: 195px;
    padding-left: 5px;
}
.detailsline, .detailscolumn {
	display: block;
}
.detailsline {
	margin: 20px 0 20px 0;
    width: 100%;
    height: 50px;
}
.detailscolumn {
	margin: 0 1%;
    float: left;
    width: 48%;
}
.logininput {
	font-family: Open Sans, sans-serif;
	background-color: #F7F8F8;
	width: 275px;
    margin: 21px;
    border: none;
    text-align: center;
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: #586465;
}
.logo {
	width: 285px;
	margin: 21px;
}
.logotext {
	height: 50%;
	margin: 20px;
	float: left;
}
.modal {
	height: 30px;
	background-color: #F7F8F8;
	border: none;
}
.navbar {
	height: 75px;
	width: 100%;
	background-color: #586465;
}
.navleft, .navright {
	font-family: Open Sans, sans-serif;
	font-size: 16pt;
    text-decoration: none;
    color: #F7F8F8;
    display: block;
    margin-top: 25px;
}
.navleft {
	float: left;
	margin-left: 75px;
}
.navright {
	float: right;
	margin-right: 50px;
}
.projectdetailsname, .projectdetailslabel, .projectdetails {
	font-family: Open Sans, sans-serif;
}
.projectdetailsname {
	font-size: 24pt;
}
.projectdetailslabel {
	font-size: 11pt;
	font-weight: bold;
}
.projectdetails {
	font-size: 14pt;
	margin-bottom: 20px;
}
.projectlist {
	font-family: Open Sans, sans-serif;
	color: #586465;
}
.projectlistcontent {
	display: block;
	float: left;
	margin: 10px;
	margin-top: 15px;
	width: 48%;
}
.projectliststatus {
	font-family:Open Sans, sans-serif;
    display: block;
    float: right;
    background-color: #76C2C1;
    color: #F7F8F8;
    font-size: 11pt;
    text-align: center;
    width: 130px;
    height: 33px;
    margin: 27px 17px;
    border-radius: 25px;
    line-height: 33px;
}
.separator {
	width: 1px;
	height: 90%;
	margin: auto;
	display: block;
	background-color: #586465;
}
.statuscomplete {
	background-color: #76C2C1;
}
.statusinprogress {
	background-color: #F2997D;
}
.statusnotstarted {
	background-color: #586465;
}
.summarylabel {
    display: block;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: -90px;
    margin-top: 50px;
}
.timesheetheading, .timesheetheadingcontent {
	width: 16.667%;
	width: 100px;
	margin: 0 15px;
}
.timesheetheading {
    font-weight: bold;
<<<<<<< HEAD
}
.timesheetheadingleft, .timesheetheadingmiddle, .timesheetheadingright {
    width: 33.33%;
    float: left;
}
.timesheetheadingcontent {
    text-align: right;
    float: right;
}
.timesheetheader {
	font-size: 14pt;
}
.timesheetfooter {
	margin-left: 10px;
	font-size: 14pt;
=======
}
.timesheetheadingleft, .timesheetheadingmiddle, .timesheetheadingright {
    width: 33.33%;
    float: left;
>>>>>>> a1f616a6e7f878a3eb5e64983b9202a40fe13b67
}
.timesheetheadingcontent {
    text-align: right;
    float: right;
}
.timesheetheader {
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 15px;
}
.timesheetfooter {
	margin-left: 10px;
	font-size: 14pt;
}
#container {
	height: 100%;
	width: 100%;
	background-color: #E5E8E8;
}
#content {
	position: absolute;
    left: 250px;
    right: 0;
    top: 351px;
    bottom: 0;
    overflow: auto;
    font-family: Open Sans, sans-serif;
}
#contentfull {
	position: absolute;
	left: 250px;
	right: 0;
	top: 75px;
	height: 92%;
    overflow: auto;
    font-family: Open Sans, sans-serif;
}
#emppic {
	height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 4px solid #F7F8F8;
    margin-bottom: 15px;
}
#empprofile {
	width: 158px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}
#empname, #emptitle {
	font-family: Open Sans, sans-serif;
    font-size: 16pt;
}
#empname {
	font-weight: bold;
    color: #F7F8F8;
    padding: 50px;
}
#emptitle {
	color: #586465;
	padding: 28px;
}
#login {
	width: 327px;
    margin: auto;
    margin-top: 55px;
}
#sidebar {
	top: 75px;
    bottom: 0;
    width: 250px;
    background-color: #76C2C1;
    position: absolute;
}
#summary {
	font-family: Open Sans, sans-serif;
	background-color: #F7F8F8;
	position: absolute;
	left: 250px;
	right: 0;
	height: 276px;
}
#summarytitle {
	font-family: Open Sans, sans-serif;
    color: #5A6364;
    font-size: 24pt;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
#summarycontent {
	width: 75%;
    margin: auto;
    font-size: 72pt;
	font-weight: lighter;
}
#summarycompleted, #summaryinprogress, #summarynotstarted {
	display: block;
	width: 33%;
	text-align: center;
}
#summarycompleted {
	float: left ;
	color: #76C2C1;
}
#summaryinprogress {
	float: left;
	color: #E79D83;
}
#summarynotstarted {
	float: right;
	color: #586465;
}
#timesheet, #timesheetheading {
	font-family: Open Sans, sans-serif;
}
#timesheetheading {
    font-size: 14pt;
    height: 50px;
    width: 100%;
    margin: 15px 0;
<<<<<<< HEAD
=======
}
/*Primefaces overwrite*/
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
	border-width: 0px;
	border-style: none;
	color: #536565;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	background: none;
	text-shadow: none;
	box-shadow: none;
	font-family: Open Sans, sans-serif;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	background-color: #F7F8F8;
	box-shadow: none;
	color: #586465;
}
.ui-widget-header {
	border: none;
	background: none;
	color: #536565;
	text-shadow: none;
}
.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}
.ui-widget-content {
	border: none;
	background: none;
	font-family: Open Sans, sans-serif;
	font-size: 12pt;
	color: #536565;
}
.ui-datatable .ui-column-filter {
	margin-top: 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color: #76C2C1;
	box-shadow: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: none;
	background-color: #F7F8F8;
	color: #76C2C1;
	text-shadow: none;
}
.ui-dialog-titlebar {
	background-color: #E5E8E8;
	color: #5A6364;
	font-family: Open Sans, sans-serif;
}
.ui-datepicker, .ui-datepicker .ui-datepicker-header {
	background: none;
	background-color: #FFF;
}
.ui-dialog .ui-dialog-content {
	background-color: #E5E8E8;
}
.ui-paginator.ui-paginator-bottom {
    border-top: 1px solid #586465;
    margin: 10px;
    padding: 10px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Open Sans, sans-serif;
    color: #5A6364;
    font-size: 1em;
>>>>>>> a1f616a6e7f878a3eb5e64983b9202a40fe13b67
}
.ui-datatable-scrollable-theadclone {
    visibility: collapse;
}
.ui-picklist .ui-picklist-list {
	height: 150px;
}
.ui-picklist-list .ui-state-hover {
	background: none;
	background-color: #76C2C1;
	color: #F7F8F8;
	box-shadow: none;
}
.datalist-noborder .ui-widget-content {
	border: none;
	background-color:transparent;
}
.label {
       width: 25%;
       font-weight: bold; 
}
.value {
       width: 80%;
}
.disabled {
	background-color: #E4E8E8;
}
